.main-chat
  .main-chat__group-info
    .main-chat__group-info__name
      test
      %ul.main-chat__group-info__name__member-list
        Member :
        %li.main-chat__group-info__name__member
          masa
    .main-chat__group-info__edit
      = link_to "#" do
        Edit
  .main-chat__message-list
    .main-chat__message-list__message
      %ul.main-chat__message-list__message__name
        masa
        %li.main-chat__message-list__message__time
          2019/11/20(Wed) 17:43:01
      .main-chat__message-list__message__text
        おはよう！

    .main-chat__message-list__message
      %ul.main-chat__message-list__message__name
        masa
        %li.main-chat__message-list__message__time
          2019/11/20(Wed) 17:43:34
      .main-chat__message-list__message__text
        今日は夜から雨



  .main-chat__message-form
    %form.main-chat__message-form__textarea
      %input.input-text{"placeholder": "type a message", "type": "text"}
      %label{class: "input-box__image"}
        = icon('fas', 'image')
        %input.file{type: "file"}
    .main-chat__message-form__send
      %input.input-submit{"type": "submit", "value": "Send"}